@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100..900&family=Noto+Sans:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.vibrant-pink {
    color: #ffffff !important; }

@layer components {
  .text-white-600 {
    @apply text-white opacity-60;
  }
    .title-font {
        font-family: 'Playfair Display', serif;
    }
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #151212;
}

h2 {
  @apply text-xl md:text-4xl
}

p {
  @apply text-xl tracking-tight leading-relaxed
}

span {
  @apply text-white-600;
}

.shiny-effect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(circle, rgba(70, 69, 70, 0.43), transparent 70%);
}

.bg-primary-color {
    @apply bg-pink-400
}